<strong>Olá, {{ deliveryman }}</strong>

<p>Uma nova encomenda foi cadastrada! Segue abaixo mais detalhes:</p>

<strong>Produto: </strong> {{ product }} <br />
<strong>Responsável: </strong> {{ recipient }} <br />
<strong>Endereço: </strong> {{ street }}, número {{number}}, estado: {{ state }}, cidade: {{ city }}, cep: {{ cep }}

<br />
<div style="margin-top: 56px;">
    <strong>
        As retiradas só podem ser feitas entre as 08:00 e 18:00h.
    </strong>
</div>